
  .nav-bootstrap{
    background-image: $ColorPrincipal;
  }
  .container-fluid img{
    width: 300px;
    height: 200px;
    margin-left:300px;
  
   
  }
  
  .navbar-nav{
     margin: 50px auto;
     font-size: 20px;
   
    
  
  }
  .nav-link{
    --bs-navbar-active-color:white; /*PARA CAMBIAR EL COLOR DE LOS ITEMS EN EL NAV, SUPER IMPORTANTE*/
  }
  .nav-link:hover{
    --bs-navbar-active-color: red;
    
  }
  .navbar-nav li{
    margin-left: 50px;
  }
  .footer{
    background-image:linear-gradient(to right,#8787b3,#333377); ;
  }
  
  
  .main-index {
    h1{
    width: 380px;
    margin-left: 150px;
    margin-top: 200px;
  }
  h3{
    width: 500px;
    margin-left: 150px;
    margin-top: 15px;

  }
  
    .p-index{
        width: 500px;
        margin-left: 150px;
        margin-top: 10px;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .cards-index{
    display: flex;
    justify-content: center;
    .card-title{
      font-size: 30px;
    }
    .card-1{
   
        width: 300px;
        height: 300px;
        padding: 15px;
        box-shadow: 5px 8px 12px black;
        margin: 15px;
       
        p{
            width: $ancho;
            font-size: 13px;
        }
      
      }
      .card-2{
   
        transform: translateY(-350px);
        margin: 10px;
        text-align: center;
        height: 300px;
        width: 500px;
        box-shadow: 5px 8px 12px black;
        padding: 20px;
        margin: 15px;
        p{
            width: $ancho;
            font-size: 13px;
        }
      }
      .card-3{
    
        text-align: center;
        height: 300px;
        width: 300px;
        padding: 20px;
        box-shadow: 5px 8px 12px black;
        margin: 15px;
        p{
            width: $ancho;
            font-size: 13px;
        }
      }

  }
  .h5-blog{
    
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 30px;;
  }
  .blog-index{
    display: flex;
    img{
        width: 600px;
        height: 400px;
        margin-left: 15px;

    }
    h6{
        text-align: center;
        font-size: 25px;
  }
  p{
    text-align: center;
    margin-left: 30px;
    width: 500px;

  }

    }
    
  }

  


 

  